* {
  margin: 0;
  padding: 0;

  color: white;

  font-family: inter;
  font-size: medium;
}

body {
  background-image: url(./assets/ap-background-img.png);
  background-size: cover;
}

header {
  width: 65%;
  margin: 1rem auto 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 17.5%;
}

header button {
  width: 35%;
  padding: 0.55rem;
  background: transparent;
  color: #ff4900;
  border: 1px solid #ff4900;
  align-items: center;
  font-size: 1.25rem;
}

.course-invitation {
   width: 65%;
   margin: auto;
   display: flex;
   justify-content: space-between;
  }

.course-invitation-interactables {
  width: 60%;
  height: 125%;
  padding-left: 2rem;
  border-left: 1px solid #009fe3;
}

.course-invitation-image img {
 display: flex;
 justify-content: center;
 max-width: 100%;
 border: 1px solid white;
}

.course-invitation-text-box h1, h2, p {
  margin: 1rem 0rem;
  font-size: 1.8125rem;
}
.course-invitation-text-box h2 {
  color: #009fe3;
  font-size: 2.1875rem;
}

.course-invitation-cta{
  margin: 2.5rem 0rem 1rem;
}
.course-invitation-cta button {
  background-color: #ff4900;
  border: none;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1.5rem 0.75rem;
  width: 55%;
}

